.table-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.table-container th {
  background-color: #f2f2f2;
}

.table-container tbody tr {
  transition: background-color 0.3s ease;
}

.table-container tbody tr:hover {
  background-color: #eef1f6;
}

.table-container .expanded-row,
.table-container .expanded {
  background-color: #eef1f6;
}

.table-container .expanded-content {
  background-color: #eef1f6;
  animation: expandRow 0.5s ease-out;
  overflow: hidden;
}

@keyframes expandRow {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: auto;
    opacity: 1;
  }
}

html,
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

.bottom-column {
  margin: auto;
  padding: 20px;
  background-color: #fff; /* White background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.w3-grey {
  background-color: grey;
}

.w3-container {
  padding: 8px;
}

.w3-center {
  text-align: center;
}

.w3-padding {
  padding: 16px;
}

/* Centering the h2 elements */
h2 {
  text-align: center;
}
